<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>E-Prod High School - Create Class</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/classes/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Classes</a>
                </h3>
                <h2>Create Class</h2>
                <form action="/classes/save">
                    <div class="form-group">
                        <label for="email">Class Name:</label>
                        <input type="text" class="form-control" name="dto.name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Class Code</label>
                        <input type="text" class="form-control" name="dto.code" />
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>